@font-face {
    font-family: BenchNine;
    src: url('../font/BenchNine-Regular.ttf');
}

body {
    font-family: BenchNine;
}

.top-header {
	position: fixed;
	background: #fff !important;
	width: 100%;
	z-index: 1;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.banner {
	top: 100px;
}

.navbar-brand img {
	height: 75px;
}

.nav-link {
	font-size: 24px;
	font-weight: 600;
}

.tentangkami {
	margin-top: 100px;
}

.tentangkami h1 {
	text-align: center;
}

.tentangkami p {
	text-align: center;
}

.tentangkami h1 {
	font-weight: 600;
	font-size: 60px;
}

.tentangkami p {
	font-size: 24px;
	color: #737373;
}

.namacard .card-body img {
	width: 320px;
	height: 300px;
	border-radius: 7px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.namacard .modal-body img {
	width: 350px;
	height: 300px;
	border-radius: 7px;
	margin: 10px 5px;
}

.namacard .modal-title {
	margin: auto;
	display: block;
}

.namacard .modal-header .close {
	margin: 0px;
	font-size: 50px;
}

.namacard h5 {
	text-align: center;
	color: black;
	font-size: 25px;
	text-transform: uppercase;
}

.namacard a:hover {
	text-decoration: none;
}

.namacard h5:hover {
	color: #737373;
}

/* 
.namacard .carousel-control-prev {
    left: -120px;
}

.namacard .carousel-control-next {
    right: -120px;
} */

.layanan {
	margin-top: 50px;
}

.layanan h1 {
	text-align: center;
}

.layanan h1 {
	font-weight: 600;
	font-size: 60px;
}

.layanan-content img {
	width: 300px;
	height: 250px;
	border-radius: 7px;
	margin: 10px 5px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.layanan-content h5 {
	text-align: center;
	color: black;
	font-size: 25px;
	text-transform: uppercase;
}

.layanan-content a:hover {
	text-decoration: none;
}

.layanan-content h5:hover {
	color: #737373;
}

.kontakkami {
	margin-top: 50px;
}

.kontakkami h1 {
	text-align: center;
}

.kontakkami h1 {
	font-weight: 600;
	font-size: 60px;
}

.kontakkami-addres h1 {
	border-bottom: 3px solid black;
	margin-bottom: 20px;
}

.kontakkami-addres p {
	font-size: 25px;
}

.kontakkami-addres .fab, .far {
    font-weight: 900;
}

.kontakkami-addres i {
	margin-right: 20px;
}

.kontakkami-addres .icon {
	margin-right: 25px;
}

.kontakkami-addres span {
	font-weight: 600;
}

.kontakkami-addres a {
	color: black;
}

.kontakkami-addres a:hover {
	color: #737373;
	text-decoration: none;
}

.kontakkami-form h1 {
	border-bottom: 3px solid black;
	margin-bottom: 20px;
}

.kontakkami-form label {
	font-size: 25px;
}

.form-control {
	border: 2px solid black;
}



/* DESKTOP VERSION */
@media (min-width: 992px) { 
	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}

	.banner .carousel-inner{
		width: auto;
		height: 600px;
		margin:auto;
	}

	.tentangkami h1 {
		text-transform: uppercase;
	}

	.namacard .card-body img {
		width: 300px;
	}

	.namacard .modal-body img {
		width: 320px;
		margin: 20px !important;
	}

	.layanan h1 {
		text-transform: uppercase;
	}

	.layanan-content img {
		width: 250px;
		height: 200px;
	}

	.kontakkami h1 {
		text-transform: uppercase;
	}

	.kontakkami-addres h1 {
		text-transform: uppercase;
	}

	.kontakkami-form h1 {
		text-transform: uppercase;
	}

	.tombolwa {
		padding:4px 25px !important;
	}

	.floatwa p {
		visibility: visible !important;
	}

}

@media (min-width: 414px) { 
	.floatwa p {
		visibility: hidden;
	}
}


.floatwa {
	position:fixed;
	bottom:0px;
	right: 0px;
	width:100%;
	z-index:1000;
	padding:2px;
	margin:auto;
	text-align:center;
	float:none;
}
.tombolwa {
	border: 1px #56aa71 solid;
	background-color:#121312;
	width:10%;
	padding:4px;
	text-align:center;
	border-radius: 5px;
	margin:50px;
	text-align:center;
	float:right;
	height: 40px;
}

.floatwa a {
	color:white;
	font-size: 20px;
}

.floatwa p {
	float:right;
}



